<section class="container">
  <a href="profiles.html" class="btn btn-light">Back To Profiles</a>

  <div class="profile-grid my-1">
   {{> /profile/top}}

  {{> /profile/about}}

  {{> /profile/expDetails}}

   {{ /profile/eduDetails}}

   {{> /profile/githubDetails}}
  </div>
</section>